################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Program2/.vs/Program2/DesignTimeBuild/.dtbcache.v2
